PORT=7500
MONGO_URI=mongodb://localhost:27017/form_service
API_KEY=change_me_secure_key
SIGNATURE_BUCKET_NAME=form-service-signatures
NODE_ENV=development

RABBITMQ_URI=amqp://guest:guest@localhost:5672
RABBITMQ_QUEUE_USER=
RABBITMQ_PASSWORD=
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_CLIENT_QUEUE=client-service-queue
RABBITMQ_VEHICLE_QUEUE=vehicle-service-queue
RABBITMQ_RPC_TIMEOUT_MS=8000